.container {
    max-width: 90%;
    margin: 0 auto;
}

.button {
    min-width: 100px;
    box-shadow: None;
    background: sienna;
    color: seashell;
    text-transform: uppercase;
}

.field {
    padding: 20px;
    width: 360px;
    height: 360px;
    font-size: 0;
    margin: 0 auto;
}

.cell {
    width: 56px;
    height: 56px;
    margin: 2px;
    display: inline-block;
    position: relative;
    z-index: 1;
}

.cell .hidden-item {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    position: absolute;
    font-size: 20px;
    line-height: 1;
    width: 20px;
    z-index: 0;
    top: 18px;
    left: 18px;
}

.cell.visible {

}

.cell.invisible {

}
